<div class="py-4">
  <h2>Administraci칩n</h2>
  <hr class="w-50" />

  {{!-- Se crea tabla con los skaters registrados para cambiar el estado --}}
  <table class="table w-50 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">A침os de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Contiene la informaci칩n de los skaters --}}
      {{#each skaters}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <div style="background-image: url({{this.foto}});"></div>
        </td>
        <td>{{this.nombre}}</td>
        <td>{{this.anos_experiencia}}</td>
        <td>{{this.especialidad}}</td>
        <td>
          {{#if this.estado}}
          <input type="checkbox" onclick="cambiarEstado({{this.id}}, this)">
          {{else}}
          <input type="checkbox" onclick="cambiarEstado({{this.id}}, this)">
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>


<script>

  //Se crea una funcion asincrona para cambiar el estado del skater
  const cambiarEstado = async (id, e) => {

    const estado = e.checked
    try {
      await axios.put(`/skaters/status/${id}`, {
        estado
      })
      if (estado) {
        alert("Skater aprobado!");
      } else {
        alert("Skater En revisi칩n");
      }
    } catch ({ response }) {
      const { data } = response
      const { error } = data
      alert(error)
    }

  }

</script>

